*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #212529;
    --text-color: #fff;
    --gold-color: #E50914;
    --gray-color: #302f2f;
    --blue-color: #0071eb;
    --blue-dark: #324A6E;
    --blue-light: #87CEEB;
    --army-brown: #827B60;
    --army-gray: #51534E;

}
body{
    
    color: var(--text-color);
}
.nav-slide{
    /* margin-top: -0.5rem; */
    animation: nav 3s linear;
}
@keyframes nav{
    0%{
        opacity: 0.1;
        margin-top: -2rem;
    }
    50%{
        opacity: 0.5;
        margin-top: -1.5rem;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}

.nav-link{
    color: #faefef !important;
    z-index: 1000;
    font-weight: 600;
}

.nav-link:hover{
    color: var(--text-color) !important;
    font-size: 20px;
}
nav-hr

.box1{
    width: 7%;
    height: 55px;
}
.logoimage{
    width: 100%;
    height: 100px;
    animation: logo-rotate 10s infinite;
}
@keyframes logo-rotate{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.text-size{
    font-size: 18px;
}
/* MEDIA QUERY FOR NAV BAR  */
@media screen and (max-width: 1199px){
    .text-size{
        font-size: 16px;
    }
    .nav-slide{
        margin-top: 0.5rem;
    }
}
@media screen and (max-width: 1005px){
    .text-size{
        font-size: 14px;
    }
}
@media screen and (max-width: 900px){
    .nav-dark{
        background-color: var(--blue-dark);
    }
    .navbar-collapse{
        background: var(--army-gray);
        margin-left: -60px;
        padding-left: 135px;
        box-shadow: 3px 2px 5px var(--gray-color);
    }
    .nav-slide{
        margin-top: -0.5rem;
    }
    .nav-hr{
        /* border: 1px dashed; */
        margin-top: 0;
        margin-bottom: 5px;
    }
    .box1 {
        width: 12%;
        height: auto;
    }
}
@media screen and (max-width: 500px){
    .box1 {
        width: 25%;
    }
    .navbar-collapse{
        padding-left: 52px;
    }
}
@media screen and (max-width: 390px){
    .box1 {
        width: 30%;
    }
    .navbar-collapse{
        padding-left: 32px;
    }
}
/* END OF MEDIA QUERY FOR NAV BAR  */
/* HOME SECTION  */
.home{
    width: 100%;
    height: 960;
    /* margin-top: -6%; */
    background: linear-gradient(rgba(39, 54, 92, 0.6), rgba(20, 27, 46, 0.9)), url(images/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid blueviolet; */
}

/* home section */
.home-row{
    padding-top: 18rem;
    padding-left: 5rem;
}
.first-h{
    font-family: monospace !important;
    font-size: 4rem;
    font-weight: 900;
    animation: text 3s linear;
    text-transform: capitalize;
}
@keyframes text {
    0%{font-size: 4; opacity: 0;}
    30%{font-size: 4rem; opacity: 0;}
    60%{font-size: 4rem; opacity: 00.4;}
    90%{font-size: 4rem; opacity: 0.7;}
    100%{font-size: 4rem; opacity: 1;}
}
.float-right{
    width: 30%;
    /* border: 2px solid red; */
    margin-left: 4rem;
}
.home-img{
    width: 100%;
    height: 400px;
    /* border: 2px solid red; */
    margin-top: -50px;
    animation: hlogo 5s linear;
}
.home-img > img{
    width: 100%;
    height: 100%;
}
@keyframes hlogo{
    0%{opacity: 0; margin-left: -19rem;}
    30%{opacity: 0.3; margin-left: -10rem;}
    60%{opacity: 0.6; margin-left: -2rem;}
    90%{opacity: 0.9; margin-left: 0;}
    100%{opacity: 1; margin-left: 1rem;}
}
 /* MEDIA QUERY FOR HOME SECTIONS  */
@media screen and (max-width: 1024px){
    .home{height: 845px;}
    .first-h{
        font-size: 3rem;
    }
    @keyframes text {
        0%{font-size: 0.5rem; opacity: 0;}
        30%{font-size: 1.5rem; opacity: 0;}
        60%{font-size: 2.5rem; opacity: 0;}
        90%{font-size: 3rem; opacity: 0.1;}
        100%{font-size: 3rem; opacity: 1;}
    }
    .home-img{
        height: 350px;
    }
}
@media screen and (max-width: 905px){
    .first-h {
        font-size: 2.6rem;
        line-height: 1.3;
    }
    .float-right {
        width: 37%;
        margin-left: 1rem;
    }
    .home-img {
        height: 310px;
    }
    @keyframes text {
        0%{font-size: 0.5rem; opacity: 0;}
        30%{font-size: 1.5rem; opacity: 0;}
        60%{font-size: 2.5rem; opacity: 0;}
        90%{font-size: 2.6rem; opacity: 0.1;}
        100%{font-size: 2.6rem; opacity: 1;}
    }
}
@media screen and (max-width: 510px){
    .home {
        height: 886px;
    }
    .home-row {
        padding-top: 14rem;
        padding-left: 0;
        text-align: center;
    }
    .float-right {
        width: 63%;
        margin: 0 auto;
        padding-top: 80px;
    }
    .home-img {
        height: 293px;
    }
    @keyframes hlogo{
        0%{opacity: 0; margin-left: -1rem;}
        30%{opacity: 0; margin-left: -0.5rem;}
        60%{opacity: 0; margin-left: 0;}
        90%{opacity: 0.1; margin-left: 0;}
        100%{opacity: 1; margin-left: 0;}
    }
    .slide-l{
        /* border: 2px solid; */
        animation: 2s slideL linear;
    }
    @keyframes slideL {
        0%{opacity: 0.1; padding-left: 0px; text-align: left;}
        30%{opacity: 0.3; padding-left: 18px;}
        60%{opacity: 0.6; padding-left: 40px;}
        90%{opacity: 0.9; text-align: center;}
        100%{opacity: 1;}
    }
}
@media screen and (max-width: 400px){
    .home {
        height: 885px;
    }
    .first-h {
        font-size: 2.4rem;
        line-height: 1;
        text-align: center;
    }
    .float-right {
        width: 70%;
        padding-top: 90px;
    }
    .home-img {
        height: 258px;
    }
    @keyframes text {
        0%{font-size: 0.5rem; opacity: 0;}
        30%{font-size: 2.4rem; opacity: 0;}
        60%{font-size: 2.4rem; opacity: 0.1;}
        90%{font-size: 2.4rem; opacity: 1;}
        100%{font-size: 2.4rem; opacity: 1;}
    }
}

/* ABOUT US SECTION  */
.about{
        /* border: 2px solid red; */
        margin-top: -6rem;
        background-color: var(--text-color);
}
.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.2rem;
    display: block;
    background-color: var(--gray-color);
    margin: 0 auto;
    
}
.heading-line::after{
    content: "";
    width: 5rem;
    height: 0.3rem;
    display: block;
    background-color: var(--bg-color);
    margin: 0 auto;

}
.about-text{
    font-size: 3rem;
    font-weight: 900;
    margin-top: 4rem;
    text-transform: capitalize;
}
.text-shadow{
    box-shadow: 3px 2px 5px var(--gray-color);
}
.about-p{
    font-size: 22px;
    font-weight: 400;
    animation: about 15s linear;
}
@keyframes about {
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
/* ACCORDION CLASS  */
.m-top{
    margin-top: 3rem;
}
.accordion-h{
    font-size: 1.4rem;
}
.text-info{
    font-size: 1.2rem;
}
/* MEDIA QUERY FOR ABOUT US SECTION  */
@media screen and (max-width: 800px){
    .about {
        margin-top: -10rem;
    }
    .about-text {
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    .about-p {
        font-size: 20px;
    }

    /* OBJECTIVE SECTIONS  */
    .accordion-h {
        font-size: 1.2rem;
    }
    .text-info {
        font-size: 1rem;
    }

}

@media screen and (max-width: 500px){
    .m-top {
        margin-top: 1rem;
    }
    .about-text {
        font-size: 1.5rem;
    }
    .about-p {
        font-size: 15px;
    }
    .accordion-h {
        font-size: 1rem;
    }
    .text-info {
        font-size: 0.9rem;
    }
    .accordion-body > p{
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 400px){
    .about {
        margin-top: -11rem;
    }
}

/* START THE TRAINING SECTION  */
.trainings{
    background: var(--blue-light);
}
.train-heading{
    font-size: 2rem;
    margin-top: 0;
    color: var(--text-color);
    /* padding: 4rem 0 2rem 0; */
}
.white-line::before{
    background-color: var(--text-color);
}
.white-line::after{
    background-color: var(--text-color);
}
.flex-display{
    display: flex;
    flex-wrap: wrap;
}
.img-height{
    width: 50%;
    height: 350px;
    /* border: 2px solid red; */
}
.img-height > img{
    width: 100%;
    height: 100%;
}
.cardT{
    color: var(--blue-light) !important;
    text-transform: capitalize;
}
.float-endtext{
    text-align: end;
}
/* MEDIA QUERY FOR TRAINIG UNITS  */
@media screen and (max-width: 800px) {
    .train-heading{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 500px) {
    .img-height {
        width: 100%;
    }
    .float-endtext{
        text-align: start;
    }
    .cardT{
        padding-top: 1rem;
    }
}

/* START THE STRUCTURE SECTION  */
.structure{
    /* border: 2px solid red; */
    margin-top: -2rem;
    margin-bottom: 2rem;
}
.chap-heading{
    color: var(--army-gray) !important;
}
.chaplain-image{
    border-radius: 10px;
}
.image-last{
    width: 96%;
    height: 340px;
    /* border: 2px solid red; */
}
.image-last > img{
    width: 100%;
    height: 100%;
}

/* START THE MEDIA QUERY FOR STRUCTURE  */
@media screen and (min-width: 850px) {
    .structure{
        margin-top: -5rem;
    }
}
@media screen and (max-width: 500px) {
    .structure-p{
        font-size: 1rem;
    }
    .image-last {
        width: 100%;
        height: 292px;
    }
}

/* START THE RANKING STRUCTURE OF OFFICERS */
.row-bg{
    background-color: var(--blue-dark);
}
.rank-h1{
    font-size: 25px;
}
.rank-h2{
    font-size: 20px;
    color: var(--blue-light);
}
.vertic-line{
    border-left: 5px solid var(--blue-color);
}